
.Rproj.user/92C2E8E5/pcs/files-pane.pper
*.pper
.Rproj.user/92C2E8E5/sources/prop/3FEF415F
*.pper
.Rproj.user/92C2E8E5/pcs/source-pane.pper
.Rproj.user/92C2E8E5/pcs/source-pane.pper
.Rproj.user/92C2E8E5/sources/prop/INDEX
.Rproj.user/92C2E8E5/sources/session-35ddcfb5/762A7045-contents
.Rproj.user/92C2E8E5/sources/session-35ddcfb5/762A7045
.Rproj.user/*
.Rproj.user/92C2E8E5/sources/prop/INDEX
.Rproj.user/92C2E8E5/pcs/source-pane.pper
.Rproj.user/92C2E8E5/sources/prop/INDEX
.Rproj.user/92C2E8E5/sources/prop/INDEX
.Rproj.user/92C2E8E5/pcs/source-pane.pper
_site/