<div class="b-example-divider"></div>

  <footer class="grid">
    <div class="g-col-6 col mb-3">
      <h5>Contact</h5>
      <p><bold>CLS Foundation</bold> <br> 
      Am Sportplatz 7 <br> 
      26683 Saterland <br> 
      Germany <br>
      Tel. +49 15158559070
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">info@clsfoundation.org

</a></p>
      <p class="text-muted">&copy; 2024</p>
    </div>

    <div class="g-col-3 col mb-3">
      <h5>Menu</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#programs-section" class="nav-link p-0 text-muted">Programs</a></li>
        <li class="nav-item mb-2"><a href="#events-section" class="nav-link p-0 text-muted">Events</a></li>
        <li class="nav-item mb-2"><a href="donate.html" class="nav-link p-0 text-muted">Donate</a></li>
        <li class="nav-item mb-2"><a href="about.html" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="g-col-3 col mb-3">
      <h5>Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="imprint.html" class="nav-link p-0 text-muted">Imprint</a></li>
        <li class="nav-item mb-2"><a href="dataprivacy.html" class="nav-link p-0 text-muted">Data Privacy</a></li>
      </ul>
    </div>

  </footer>
