<div class="b-example-divider"></div>

<footer class="grid">
  <div class="g-col-6 col mb-3">
    <h5>Contact</h5>
    <p><strong>CLS Foundation</strong> <br>
      Am Sportplatz 7 <br>
      26683 Saterland <br>
      Germany <br>
      Tel. <a href="tel:+4915158559070">+49 15158559070</a><br>
      <a href="mailto:info@clsfoundation.org">info@clsfoundation.org</a>
    </p>
    <p class="text-muted">&copy; 2024</p>
  </div>

  <div class="g-col-3 col mb-3">
    <h5>Menu</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="/#our-programs" class="nav-link p-0 text-muted">Programs</a></li>
      <li class="nav-item mb-2"><a href="/#upcoming-events" class="nav-link p-0 text-muted">Events</a></li>
      <li class="nav-item mb-2"><a href="/#success-stories" class="nav-link p-0 text-muted">Success Stories</a></li>
      <li class="nav-item mb-2"><a href="/donate" class="nav-link p-0 text-muted">Donate</a></li>
      <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>

  <div class="g-col-3 col mb-3">
    <h5>Links</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="/imprint" class="nav-link p-0 text-muted">Imprint</a></li>
      <li class="nav-item mb-2"><a href="/dataprivacy" class="nav-link p-0 text-muted">Data Privacy</a></li>
    </ul>
  </div>

</footer>